<head>
  <%= javascript_include_tag "application" %>

  <script>

  $(document).ready(function(){

  });
  </script>

</head>
<div id="wrapper">
  <%= render :partial => "header" %>
  <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to "0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to "1"></li>
      <li data-target="#myCarousel" data-slide-to "2"></li>
      <li data-target="#myCarousel" data-slide-to "3"></li>
      <li data-target="#myCarousel" data-slide-to "4"></li>
      <li data-target="#myCarousel" data-slide-to "5"></li>
      <li data-target="#myCarousel" data-slide-to "6"></li>
      <li data-target="#myCarousel" data-slide-to "7"></li>
    </ol>
    <div class="carousel-inner">
      <div class="active item">
        <%= image_tag "rose.jpg" %>
        <div class="carousel-caption">
          <h4>Party with Derrick Rose</h4>
          <p>Search for tickets and use historical pricing data to buy smarter.</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag "concerts/avicii.jpg" %>
        <div class="carousel-caption">
          <h4>Watch the Throne</h4>
          <p>Search for tickets and use historical pricing data to buy smarter.</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag "concerts/edc.JPG" %>
        <div class="carousel-caption">
          <h4>#HumbleBrag</h4>
          <p>Search for tickets and use historical pricing data to buy smarter.</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag "concerts/jay-z.JPG" %>
        <div class="carousel-caption">
          <h4>Michael > Kobe</h4>
          <p>Search for tickets and use historical pricing data to buy smarter.</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag "sports/chicago-bears.jpg" %>
        <div class="carousel-caption">
          <h4>I bought a Kia from him</h4>
          <p>Search for tickets and use historical pricing data to buy smarter.</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag "harden.jpg" %>
        <div class="carousel-caption">
          <h4>All bow to the Beard</h4>
          <p>Search for tickets and use historical pricing data to buy smarter.</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag "concerts/passion_pit.jpg" %>
        <div class="carousel-caption">
          <h4>Fashonista who moonlights as a basketball player</h4>
          <p>Search for tickets and use historical pricing data to buy smarter.</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag "kyrie.jpg" %>
        <div class="carousel-caption">
          <h4>Awesome Duke grad</h4>
          <p>Search for tickets and use historical pricing data to buy smarter.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
<!--     <div id="clicker_f"><a href="#"></a></div>
    <div id="clicker_r"><a href="#"></a></div> -->
  </div>
<h3 id="search">Search</h3>
<h5 class="nav-primary"><%= link_to "Search For Events", search_path %>
<h3 id="concerts">Concerts</h3>
  <h5 class="nav-primary"><%= link_to "View All Festivals", concerts_index_festivals_path %></h5>
  <h5 class="nav-primary"><%= link_to "View All Performances", concerts_path %></h5>
<h3 id="sports">Sports</h3>
  <h5 class="nav-primary"><%= link_to "View All NBA Basketball", sports_path %></h5>
  <h5 class="nav-primary"><%#= link_to "Create New User", new_user_path %></h5>
<h3 id="users">Sign-Up</h3>
<h3 id="about">About</h3>
<%= render :partial => "footer" %>
</div>
